.header_section {
background-color: green;
display: flex;
flex-direction: row;
padding: 0px;
width: 100%;
height: 80px;
flex: none;
justify-content: center;
}
.container {
  background-color: white;
  display: flex;
  width: 90%;
  height: 50px;
  margin-top: 10px;
  flex-wrap: wrap;
}
.navigation {
  display:flex;
  width:27%;
  margin-left: 65%;
  justify-content: space-around;
  margin-top: 1.3%;
  height:35px;
  position: relative;
}
#menu_signin {
  display: flex;
  justify-content: space-around;
  width: 20px;
  height: 25px;
  margin-left: 70%;
  position: relative;
}
.SI {
  display: flex;
  width: 20px;
  height: 15px;
  margin-top: 5px;
  align-items: center;
  display: flex;
  position: relative;
}
.logo_section {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80px;
}
#googleimg{
  margin-top: 20px;
  width: 20%;
  height: 50px;
  }
.googleoffer_section {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  background-color: blue;
  width: 100%;
  height: 350px;
}
#GS {
  display: flex;
  width:80px;
  height: 20px;
  justify-content: center;
  position: relative;
}

.footer_section {
  background-color: orange;
  width: 100%;
  height: 60px;;
  }